
<h1>
    <i class="fa fa-ticket"></i> CONSULTAS DE FACTURAS CALCULADAS
</h1>
<br />

<!--<h4>Hola, {{vm.getLoginUsuario()}}</h4>-->
<!--CONTENEDOR-->
<div class="container ">

    <!-- TABLA DE RESULTADOS -->
    <table class="table table-striped">
       
        <thead>
            <tr class="bg-primary">
                <th><a href="#/factura/0" class="btn btn-info"><i class="fa fa-plus"></i></a></th>
                <th>Ejerc.</th>
                <th>Trim.</th>   

                <th ng-click="vm.sort('vm.Ambito')">
                    Ámbito
                    <span class="glyphicon sort-icon" ng-show="vm.sortKey=='vm.Ambito'"
                          ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}">

                    </span>
                </th>

                <th>N. Factura</th>
                
                <th ng-click="vm.sort('vm.CodCliente')">
                    Cód. Cliente
                    <span class="glyphicon sort-icon" ng-show="vm.sortKey=='CodCliente'"
                          ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}">
                    </span>
                </th>

                <th>Fecha</th>
                <th>Base</th>
                <th>Dto.</th>

                <th ng-click="vm.sort('vm.TipoIVA')">
                    Tipo IVA
                    <span class="glyphicon sort-icon" ng-show="vm.sortKey=='vm.TipoIVA'"
                          ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}">

                    </span>
                </th> 
                
                <th>%IRPF</th>
                <th>IVA</th>
                <th>IRPF</th>
                <th>TOTAL</th>


            </tr>
        </thead>

        <!-- FILTROS -->
        <thead>
            <tr class="bg-info">
                <th>Filtros</th>
                <th><input type="text" ng-model="search.ejercicio" class="col-xs-6 col-sm-6 col-md-6" /></th>
                <th><input type="text" ng-model="search.trimestre" class="col-xs-6 col-sm-6 col-md-6" /></th>
                <th><input type="text" ng-model="search.ambito" class="col-xs-6 col-sm-6 col-md-6" /></th>
                <th></th>
                <th><input type="text" ng-model="search.cliente" class="col-xs-6 col-sm-6 col-md-6" /></th>
                <th><input type="text" ng-model="search.fecha" class="col-xs-6 col-sm-6 col-md-6" /></th>
                <th></th>
                <th><input type="text" ng-model="search.dto" class="col-xs-6 col-sm-6 col-md-6" /></th>
                <th><input type="text" ng-model="search.iva" class="col-xs-6 col-sm-6 col-md-6" /></th>
                    <th><input type="text" ng-model="search.irpf" class="col-xs-6 col-sm-6 col-md-6" /></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr class="form-online" 
                 dir-paginate="facv in vm.facturasvTodas | 
                    orderBy:vm.sortkey:vm.reverse | 
                    filter:{
                    Ejercicio:search.ejercicio, 
                    Trimestre:search.trimestre, 
                    CodCliente:search.cliente, 
                    Ambito:search.ambito, 
                    Fecha:search.fecha, 
                    Descuento:search.dto, 
                    TipoIVA:search.iva, 
                    TipoIRPF:search.irpf} | 
                    itemsPerPage:5"> 
                <td><a href="#/factura/{{facv.IDFacturaProv}}" class="btn btn-success"><i class="fa fa-pencil"></i></a></td>

                <td><span>{{facv.Ejercicio}}</span></td>
                <td><span>{{facv.Trimestre}}</span></td>
                <td><span>{{facv.Ambito}}</span></td>
                <td><span>{{facv.NumFactura}}</span></td>
                <td><span>{{facv.CodCliente}}</span></td>
                <td><span>{{facv.Fecha}}</span></td>
                <td><span>{{facv.Base}}</span></td>
                <td><span>{{facv.Descuento}}</span></td>
                <td><span>{{facv.TipoIVA}}</span></td>
                <td><span>{{facv.TipoIRPF}}</span></td>
                <td><span>{{facv.TotalIVA}}</span></td>
                <td><span>{{facv.TotalIRPF}}</span></td>
                <td><span>{{facv.TOTALFACTURA}}</span></td>



            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <!-- BOTONES PARA PASAR PÁGINA -->
        <dir-pagination-controls max-size="10"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>
    </div>





    <!--<pre>
    {{vm.getLoginUsuario()}}
    </pre>-->
</div>
<!--FIN CONTENEDOR-->
    
<!--FIN CONTENEDOR-->
